// STYLE POUR LES BACKGROUND DES DIFFÉRENTES PAGES

div#background-index {
  background: no-repeat linear-gradient(#63CEDC 15%, #D0F9FF 25%, $white 40%, #D0F9FF, rgba(99,206,220, 0.6));
}

div#background-index-generique {
  background: no-repeat linear-gradient(#63CEDC 20%, #D0F9FF, $white);
}

div#background-programmation, div#background-single-invite {
  margin-top: 75px;
}

div#background-programmation {
  background: no-repeat linear-gradient(#ABF5FF, #D0F9FF, $white 60%);
}

div#background-single-invite {
  background: no-repeat linear-gradient(#ABF5FF, #D0F9FF, $white 75%);
}

div#background-404 {
  min-height: 100vh;
  background: no-repeat linear-gradient(#ABF5FF, #D0F9FF);
}