// STYLE POUR LE FOOTER

footer {
  background-color: #17606a;

  div.wrapper {

    padding: 45px 20px;

    // Infos principales du footer
    div.infos-principales {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      margin-bottom: 60px;

      h3 {
        color: $color-comp-2-light;
        margin-bottom: 7px;
        text-align: left;
      }

      article {

        // Liens rapides et btn j'aime
        &:nth-child(1) {
          width: 100%;

          display: flex;
          align-items: center;
          flex-direction: column;

          align-self: center;
          margin-bottom: 30px;

          div {
            margin-bottom: 15px;
            display: inherit;
            flex-direction: inherit;
            align-items: inherit;

            a {
              text-decoration: underline;
            }
          }

          img {
            width: 95px;
          }
        }

        // Réseaux sociaux et btn apps
        &:nth-child(2) {
          width: 100%;

          margin-bottom: 30px;

          div {
            display: flex;
            justify-content: space-between;

            &:first-child {
              margin-bottom: 40px;
            }
          }

          i {
            color: $color-accent-light;
            font-size: rem(60);

            transition: color 0.5s;

            &:hover {
              color: $color-principal-light;
              transition: color 0.5s;
            }
          }

          img {
            width: 144px;
            margin: 0 5px;
          }

        }

        // Inscription à la newletter
        &:nth-child(3) {

          width: 100%;

          p {
            color: $white;
            margin: 0 0 15px;
          }

          form {
            display: flex;
            align-items: center;

            input[type="email"] {
              background-color: #22828F;

              margin-right: 7px;
            }

            input[type="submit"] {
              border-radius: 7px;
              border: none;
              outline: 0;

              background-color: $color-principal-base;

              font-family: $ff-title;
              font-size: rem(25);
              color: $white;
              padding: 12px 20px 10px;

              cursor: pointer;

              transition: all 0.5s;

              &:hover {
                background-color: $color-principal-dark;
                transition: all 0.5s;
              }
            }
          }
        }

      }
    }

    // Langues et infos copyright
    div.droits {
      text-align: center;

      p {
        margin: 0;

        color: $white;

        span {
          &:first-child {
            color: $color-accent-light;
            font-weight: 700;
            margin-right: 10px;
          }
          &:last-child {
            color: $color-comp-2-light;
            margin-left: 10px;
          }
        }

        &:first-child {
          margin-bottom: 20px;
        }
      }

      small {
        display: flex;
        justify-content: center;

        color: #459BA7;
        font-size: rem(13);

        margin-top: 20px;
        padding: 0;

      }
    }
  }
}

/*-------------------------------------------------------*/

// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  footer {
    div.wrapper {

      padding: 60px 0;

      // Infos principales du footer
      div.infos-principales {
        flex-direction: row;

        article {

          // Liens rapides et btn j'aime
          &:nth-child(1) {
            align-items: flex-start;
            align-self: flex-start;

            width: 35%;
          }

          // Réseaux sociaux et btn apps
          &:nth-child(2) {
            margin: 0 120px 0 55px;
            width: 42%;

          }

          // Inscription à la newletter
          &:nth-child(3) {
            width: 65%;

            form {

              input[type="submit"] {
                font-size: $fz-h3;
                padding: 7px 30px 5px;
              }

            }

          }

        }
      }

      // Langues et infos copyright
      div.droits {
        small {
          padding: 0 70px;
        }
      }
    }
  }

}