// STYLE DU HEADER

header {
  background-image: linear-gradient(#31b5c8, #1f9fd0);
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.25);

  // Pour fixer le menu
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  div.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 12px 15px;

    a, ul {
      display: inherit;
      align-items: inherit;
    }

    // Logo
    &>a {
      width: 25%;

      img {
        width: 70%;
        margin-right: 10px;
      }

      // Texte "Anima Fest"
      div {
        display: inherit;

        span, p {
          font-family: $ff-title;
          font-size: $fz-h3;
        }

        p {
          margin: 0;
          font-variant: small-caps;
        }

        // Pour une raison que j'ignore, le first-child et last-child ne marchaient pas sur les
        // balises span, donc je leur ai assigné des classes
        span {
          &.first {
            color: #BC3C54;
          }
          &.last {
            color: $color-principal-dark;
            padding-left: 7px;
          }
        }
      }

      &:hover {
        color: white;
      }
    }

    /* Bouton toggle */
    .show-menu {
      display: block;
      color: $color-principal-dark;
      font-size: rem(30);
      cursor: pointer;

      transition: color 0.2s;

      &:hover {
        color: $color-comp-2-light;
        transition: color 0.2s;
      }
    }

    .toggle-menu {
      display: none;
    }

    .toggle-menu:checked + div {
      display: block;
      width: 100%;
      ul {
        display: flex;
        flex-direction: column;
        width: 100%;
      }
    }
  }

  // Menu
  div.menu-menu-principal-container {
    width: 50%;

    display: none;

    ul#menu-menu-principal {
      width: 100%;

      margin: 0;
      padding: 0;

      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;

        margin: 10px 0;

        // Les trois premiers éléments du menu
        &:nth-child(-n+3) a {
          @include font($ff-subtitle-normal, rem(16), $white, $lh-normal);
          position: relative;
          width: 100%;

          // Source du code; https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
          // Pour animation d'underline sur les liens du menu
          &:before {
            content: "";

            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;

            background-color: $white;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
          }
          &:hover:before {
            visibility: visible;
            transform: scaleX(1);
          }

        }

        // Bouton pour acheter une passe
        &.btn-cta-acheter a {
          @include font($ff-title, rem(21), $color-principal-dark, $lh-normal);

          width: 100%;

          display: flex;
          align-items: center;

          background-color: #FF9496;
          padding: 8px;
          border-radius: 5px;

          cursor: pointer;

          transition: all 0.5s;

          &:hover {
            background-color: #F8CDC3;
            color: $color-accent-dark;
            transition: all 0.5s;
          }
        }
      }
    }
  }

  // Barre de recherche
  div.recherche {
    position: relative;
    width: 100%;
    margin: 10px 0 0 0;

    a {
      img {
        position: absolute;

        width: 18px;

        top: calc(50% - 9px);
        left: 87%;

        cursor: pointer;
      }
    }

    input {
      background-color: #136570;
      width: inherit;
    }

  }
}

/*-------------------------------------------------------*/

// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  header {
    div.wrapper {

      padding: 10px 0;
      flex-wrap: nowrap;

      &>a {
        img {
          width: 20%;
        }
      }

      /* On cache les éléments tu toggle */
      .toggle-menu, .show-menu {
        display: none;
      }

      div.menu-menu-principal-container, .toggle-menu:checked + div.menu-menu-principal-container {
        display: block;

        width: 50%;

        ul {
          display: flex;
          flex-direction: row;
          width: 100%;

          li {
            margin: 0;
          }
        }
      }

      div.recherche {
        margin: 0;
        width: 20%;

        input {
          width: 100%;
        }
      }
    }
  }

}