// STYLE POUR LA SECTION DES FEATURES DE L'ÉVÈNEMENT

.section-features {
  background: url('../images/bg-features.png') center no-repeat;
  background-size: 1200px auto;

  min-height: 1700px;

  margin-bottom: 50px;

  div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;

    h2 {
      background-color: $color-comp-1-base;
      color: $white;

      padding: 30px 0;
      margin: 40px 0 20px;

      mask-image: url('../images/mask-features.png');
      mask-size: 95% auto;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      margin: 10px 0;

      h3 {
        color: $color-principal-dark;
        line-height: 1;
        padding: 0 20px;
      }

      p {
        text-align: center;
        padding: 0 45px;
        margin-top: 20px;
      }

      img {
        order: -1;
      }
    }
  }

}


/*-------------------------------------------------------*/


// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-features {
    background-size: 1440px auto;

    min-height: 1970px;

    margin-bottom: 90px;

    div.wrapper {
      h2 {
        padding: 43px 0;
        mask-size: 43%;
      }

      article {
        flex-direction: row;

        margin: 20px 0;

        &.conferences {
          img {
            order: 1;
          }
        }
        &.projections {
          img {
            order: 1
          }
        }
      }
    }

  }
}