// STYLE POUR LA SECTIONS DES INVITÉS DE LA PAGE PROGRAMMATION

.section-invites {
  margin-bottom: 50px;

  div.wrapper {
    padding: 0 15px;

    h2 {
      background-color: #FF7577;
      color: $color-comp-1-dark;

      padding: 40px 0;
      margin-bottom: 35px;

      mask-image: url('../images/mask-invites.png');
      mask-repeat: no-repeat;
      mask-size: 40%;
      mask-position: center;
    }

    // Une rangée d'invités
    div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      // Un invité
      a {
        width: 48%;

        transition: all 0.3s;
        margin-bottom: 20px;

        transition: all 0.3s;

        &:hover {
          background-color: $color-accent-light;
          padding: 15px;
          border-radius: 35%;

          transition: all 0.3s;
        }
      }

      &:last-child {

        margin-top: 0;

      }
    }
  }
}


/*-------------------------------------------------------*/

// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-invites {
    margin-bottom: 90px;

    div.wrapper {
      h2 {
        padding: 30px 0;
        margin-bottom: 50px;

        mask-size: 20%;
      }

      // Une rangée d'invités
      div {
        flex-wrap: nowrap;;

        // Un invité
        a {
          width: 23%;

          &:hover {
            padding: 30px;
            border-radius: 45%;
          }
        }

        &:last-child {

          margin-top: 50px;

        }
      }
    }
  }

}