// STYLE POUR LA SECTION DES COMMANDITAIRES

.section-commanditaires {
  background-image: linear-gradient(#40CBDE, #1d717c);

  padding: 60px 0;

  h2 {
    color: $white;
    margin-bottom: 45px;
  }

  div.wrapper {
    display: flex;
    justify-content: space-between;

    // Une div contient deux partenaires
    div {
      display: inherit;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      // L'image est beaucoup trop grosse si je ne la réduis pas, car elle s'adapte au width de Desjardins
      // dans la même div
      a.alliance {
        display: flex;
        align-items: center;

        img {
          width: 50%;
          margin: auto;
        }
      }

      a {
        display: flex;
        width: 70%;

        img {
          width: 100%;
          align-self: center;
        }

        img:first-child {
          margin-bottom: 40px;
        }
      }

      // Sur les partenaires du milieu, afin qu'ils aient l'air un peu plus centré
      &:nth-child(2) {
        margin-right: 25px;
      }
    }
  }
}

/*-------------------------------------------------------*/

// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-commanditaires {

    div.wrapper {

      // Une div contient deux partenaires
      div {
        a {

          width: 100%;

        }
      }
    }
  }
}