// STYLE POUR LA SECTION HORAIRE DE LA PAGE PROGRAMMATION

.section-horaire {
  margin-bottom: 80px;

  div.wrapper {
    padding: 0 10px;

    h2 {
      background-color: $color-comp-1-base;
      color: $white;

      padding: 43px 0;
      margin-bottom: 35px;

      mask-image: url('../images/mask-horaire.png');
      mask-repeat: no-repeat;
      mask-size: 43%;
      mask-position: center;
    }

    // Boutons des dates
    div.dates {
      display: flex;
      justify-content: space-between;

      h3 {
        cursor: pointer;

        width: 33%;
        color: $white;
        background: linear-gradient(#78CDDA, #32B7CA);
        padding: 8px 0;
        border-radius: 10px 10px 0 0;

        &:hover {
          background: linear-gradient(#32B7CA, #2D7A84);
        }
      }

      .jour-actif {
        cursor: auto;

        color: $color-principal-dark;
        background: #7FE3F0;

        &:hover {
          color: $color-principal-dark;
          background: #7FE3F0;
        }
      }

    }

    #jour-2, #jour-3 {
      display: none;
    }


    // Contenu des activités
    .contenu-horaire {
      background-image: linear-gradient(#7FE3F1, #ABF0F9 25%, #C8F8FF, #BBF5FC 75%, #7FE3F1);
      border-radius: 0 0 10px 10px;
      padding: 10px 10px 0;

      // Une rangée d'activités
      div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        margin-bottom: 0;

        // Une activité (un encadré)
        a {
          width: 100%;
          background-color: $color-principal-light;
          border-radius: 10px;

          padding: 10px;
          margin-bottom: 15px;

          display: inherit;
          flex-direction: column;
          justify-content: inherit;
          align-items: center;

          transition: all 0.5s;

          p, small {
            color: $color-principal-dark;
            text-align: center;
          }

          small {
            font-size: rem(16);

          }

          small.salle {
            font-weight: 700;
          }


          &:hover {
            background-color: $color-accent-light;

            transition: all 0.5s;
          }
        }
      }
    }
  }
}


/*-------------------------------------------------------*/

// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-horaire {

    div.wrapper {
      h2 {
        padding: 33px 0;
        margin-bottom: 50px;

        mask-size: 20%;
      }

      // Contenu des activités
      .contenu-horaire {
        padding: 10px;

        // Une rangée d'activités
        div {
          flex-wrap: nowrap;

          margin-bottom: 15px;

          &:last-child {
            margin-bottom: 0;
          }

          // Une activité (un encadré)
          a {
            width: 32%;

            margin: 0;
          }
        }
      }
    }
  }
}