// STYLE POUR LA PAGE 404

.section-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;

  h1 {
    color: $color-accent-base;
  }

  // Le bouton
  a {
    width: 80%;

    background-color: $color-accent-dark;
    color: $white;
    font-family: $ff-title;
    font-size: rem(28);
    border-radius: 10px;

    margin-top: 25px;
    padding: 6px 10px 3px;

    transition: all 0.5s;

    &:hover {
      background-color: $color-principal-dark;
      transition: all 0.5s;
    }
  }
}


/*-------------------------------------------------------*/


// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-404 {
    // Le bouton
    a {
      display: block;
      text-align: center;

      width: auto;
      font-size: rem(40);
      padding: 6px 30px 3px;
    }
  }
}