// STYLE DE LA SECTION DES INVITÉS EN PRIMEUR

.sections-invites-primeur {
  background: none;

  margin-bottom: 50px;

  div.wrapper {

    h2 {
      background-color: #FF7577;
      color: $color-comp-1-dark;

      padding: 30px 0;
      margin-bottom: 30px;

      mask-image: url('../images/mask-invites-primeur.png');
      mask-repeat: no-repeat;
      mask-size: 75% auto;
      mask-position: center;
    }

    div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;


      // Un invité
      a {
        display: inherit;
        flex-direction: column;
        justify-content: center;




        img {
          width: 175px;
          align-self: center;

          transition: all 1s;
        }

        p {
          margin: 0;
          padding: 0 75px;
          text-align: center;
          color: $color-principal-dark;
        }

        // Marges personnalisés pour que cela soit semblable à la maquette
        // Premier invité
        &:nth-child(1) {
          margin-bottom: 20px;
        }

        // Deuxième invité
        &:nth-child(2) {
          margin-top: 0;
          margin-bottom: 20px;
        }

        // Troisième invité
        &:nth-child(3) {
          margin-bottom: 0;
        }

        &:hover img {
          width: 200px;

          transition: all 1s;
        }
      }

    }
  }
}



/*-------------------------------------------------------*/


// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .sections-invites-primeur {
    background: url('../images/bg-invites-primeur.png') center no-repeat;

    margin-bottom: 90px;

    div.wrapper {

      h2 {
        margin-bottom: 0;
        padding: 30px 0;

        mask-size: 30%;

      }

      div {
        flex-direction: row;


        // Un invité
        a {

          img {
            width: 350px;
          }

          // Marges personnalisés pour que cela soit semblable à la maquette
          // Premier invité
          &:nth-child(1) {
            margin-bottom: 200px;
          }

          // Deuxième invité
          &:nth-child(2) {
            margin-top: 225px;
            margin-bottom: 0;
          }

          // Troisième invité
          &:nth-child(3) {
            margin-bottom: 75px;
          }

          &:hover img {
            width: 375px;
          }
        }

      }
    }
  }
}