// STYLE DE LA SECTION PRÉSENTATION
.section-presentation {
  margin-bottom: 50px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    // Infos
    article {
      width: 100%;
      padding: 10px 20px 0;

      h2, p {
        text-align: center;
      }

      h2 {
        margin: 0;
        width: 100%;
      }
    }

    // Image de la présentation
    img {
      width: 90%;
      height: auto;
      order: -1;
    }
  }
}

// Exclusif à la page index2.html
.section-presentation-generique {
  margin-bottom: 80px !important;
}


/*-------------------------------------------------------*/


// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-presentation {
    margin-bottom: 150px;

    div {
      flex-direction: row;

      // Infos
      article {
        width: 40%;

        h2, p {
          text-align: left;
        }

        h2 {
          width: 90%;
        }
      }

      // Image de la présentation
      img {
        width: 55%;
        height: auto;
        order: 1;
      }
    }
  }
}