// STYLES POUR LA SECTION DES FORFAITS

.section-forfaits {
  margin-bottom: 50px;

  h2 {
    background-color: $color-principal-base;
    color: $white;

    padding: 30px 0;
    margin-bottom: 60px;

    mask-image: url('../images/mask-features.png');
    mask-repeat: no-repeat;
    mask-size: 83%;
    mask-position: center;
  }

  // Icones crochets
  i {
    font-size: rem(20);
  }

  div.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    article, aside {
      width: 100%;
    }

    // Les boutons acheter
    a {
      font-family: $ff-title;
      color: $white;
      border-radius: 10px;
    }

    // Extra passe
    article {
      height: 759px;

      padding: 60px;
      margin-bottom: 15px;

      display: inherit;
      flex-direction: column;
      justify-content: inherit;

      background-color: $color-accent-light;

      mask-image: url('../images/mask-extra-passe.png');
      mask-repeat: no-repeat;
      mask-size: auto 759px;
      mask-position: center;

      h3 {
        font-size: rem(35);
        color: $white;
      }

      h1 {
        color: $color-comp-1-base;
        font-size: rem(60);
      }

      div {
        display: inherit;
        justify-content: inherit;
        align-items: center;

        margin-top: 10px;

        // Le bouton acheter
        &:last-child {
          flex-direction: column;

          p {
            font-size: rem(13);
            margin: 0;
          }
        }
      }

      p {
        margin: 0 0 0 15px;
      }

      p, i {
        color: $white;
      }

      // Le bouton acheter
      a {
        margin: 5px 0 0;
        padding: 10px 50px 5px;

        background-color: $color-comp-1-base;
        font-size: rem(30);

        transition: all 0.5s;

        &:hover {
          background-color: $color-principal-dark;
          transition: all 0.5s;
        }
      }
    }

    // Les deux autres forfaits
    aside {
      display: inherit;
      flex-direction: column;
      justify-content: space-between;

      & > div {
        border: 3px dashed $color-accent-dark;
        height: 337px;
        padding: 10px 50px;

        &:first-child {
          margin-bottom: 5px;
        }
        &:last-child {
          margin-top: 5px;
          margin-bottom: 0;
        }
      }

      div {
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;

        h3 {
          color: $color-principal-dark;
        }

        h1 {
          color: $color-accent-dark;
          font-size: rem(35);
        }

        // Divs à l'intérieur des encadrés
        div {
          display: flex;
          flex-direction: row;
          justify-content: inherit;
          align-items: center;

          margin-top: 10px;

          p {
            margin: 0 0 0 15px;
          }

          i, p {
            color: $color-neutral-3;
          }

          // Les boutons acheter
          &:last-child {
            flex-direction: column;
            margin-top: 30px;

            a {
              background-color: $color-accent-light;
              font-size: rem(30);
              padding: 6px 30px 3px;

              transition: all 0.5s;

              &:hover {
                background-color: $color-accent-dark;
                transition: all 0.5s;
              }
            }

            p {
              font-size: rem(13);
              margin: 0;
            }
          }
        }
      }
    }
  }
}

/*-------------------------------------------------------*/

// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-forfaits {
    margin-bottom: 90px;

    h2 {
      mask-size: 27%;
    }

    // Icones crochets
    i {
      font-size: rem(20);
    }

    div.wrapper {
      flex-direction: row;

      article, aside {
        width: 49%;
      }

      // Extra passe
      article {

        h3 {
          font-size: $fz-h2;
          color: $white;
          height: 8%;
        }

        h1 {
          font-size: rem(81);
        }

        // Le bouton acheter
        a {
          margin: 40px 0 5px;

          font-size: rem(48);
        }
      }

      // Les deux autres forfaits
      aside {

        & > div {
          &:first-child {
            margin-bottom: 13px;
          }
          &:last-child {
            margin-top: 13px;
            margin-bottom: 18px;
          }
        }

        div {
          h1 {
            color: $color-accent-dark;
            font-size: rem(48);
          }

          // Divs à l'intérieur des encadrés
          div {

            // Les boutons acheter
            &:last-child {

              a {
                font-size: rem(40);
              }
            }
          }
        }
      }
    }
  }
}