// STYLE DE LA SECTION HEROS

.section-heros {

  background: url('../images/bann2.png') top no-repeat;
  background-size: 375px auto;

  margin: 139px 0 50px;

  div.wrapper {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    // Encadré d'informations sur le festival
    article {
      display: inherit;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      margin-top: 135px;
      padding: 15px;

      width: 100%;
      height: 500px;
      background-color: rgba(255, 117, 119, 0.9);

      h3 {
        @include font($ff-subtitle-normal, rem(35), $black, 1);
      }

      hr {
        border: 3px solid $color-accent-dark;
        border-radius: 20px;
        width: 65%;
        margin: 0;
      }

      h2 {
        @include font($ff-title, rem(40), $color-comp-1-dark, $lh-normal);
      }

      h4 {
        @include font($ff-subtitle-bold, rem(35), $color-principal-dark, $lh-normal);
      }

      p {
        @include font($ff-subtitle-normal, rem(33), $black, 1);
        text-align: center;
        margin: 0 auto;
        width: 80%;
      }

      a {
        @include font($ff-title, rem(30), $white, 1);

        display: block;

        background: linear-gradient(190deg, #32B7CA, #2D7A84);
        padding: 17px 20px 10px;
        border-radius: 10px;

        transition: color 0.5s;

        &:hover {
          background: $color-accent-dark;
          color: $color-comp-2-light;
          transition: color 0.5s;
        }
      }
    }


    // Décompte avant l'évènement
    aside {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      margin: 15px 0;
      padding: 0 10px;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: $ff-title;

        h2 {
          font-size: rem(30);
          color: $white;
        }

        p {
          margin: 0;
          font-size: rem(20);
          color: $white;
        }
      }

    }
  }
}


/*-------------------------------------------------------*/


// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-heros {
    background-position: center;
    background-size: 1920px auto;

    min-height: 700px;

    margin: 74px 0 90px;

    div.wrapper {
      display: flex;
      flex-direction: row;

      // Encadré d'informations sur le festival
      article {
        margin: 0;
        padding: 60px;

        width: 580px;
        min-height: 700px;

        h3 {
          font-size: $fz-h2;
        }

        h2 {
          font-size: rem(60);
        }

        h4 {
          font-size: rem(38);
        }

        p {
          font-size: rem(38);
          width: 65%;
        }

        a {
          font-size: rem(48);
        }
      }


      // Décompte avant l'évènement
      aside {
        display: flex;
        flex-direction: row;
        width: 500px;

        padding-top: 65px;

        div {
          width: 25%;

          h2 {
            font-size: rem(60);
          }

          p {
            margin: 0;
            font-size: rem(30);
          }
        }

      }
    }
  }
}