// STYLE POUR LA FICHE D'UN INVITÉ

.section-fiche-invite {
  margin-bottom: 50px;
  padding-top: 100px;

  div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0 15px;

    position: relative;

    img {
      position: absolute;
      top: -200;
      width: 80%;
      align-self: center;
    }

    // Contenu de la fiche
    &>div {
      background-image: linear-gradient(#F8CDC3, #FE7D7E 95%);
      border-radius: 60px;

      padding: 180px 20px 20px;

      margin-left: 0;
      margin-top: 125px;

      // Entête
      div.entete-fiche {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        // Nom et icone site
        div:first-child {
          display: inherit;
          justify-content: center;

          padding: 0 40px 0 0;

          width: 100%;

          h2 {
            color: $color-neutral-3;
            padding-right: 15px;
          }

          a {

            img {
              background-color: $color-principal-base;
              padding: 2px;
              border-radius: 5px;

              width: 10%;

              transition: all 0.2s;

              &:hover {
                background-color: $color-principal-dark;
                transition: all 0.2s;
              }
          }

          }
        }

        // Icones de réseaux sociaux
        div:last-child {
          width: 45%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          margin: 20px 0 10px;

          i {
            color: $white;
            font-size: rem(45);

            transition: color 0.2s;

            &:hover {
              color: $color-principal-dark;
              transition: color 0.5s;
            }
          }
        }

      }

      h4 {
        text-align: center;
        color: $color-accent-light;
      }

      p {
        line-height: 1.7;
        text-align: center;
      }
    }


  }
}


/*-------------------------------------------------------*/

// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  .section-fiche-invite {
    margin-bottom: 80px;
    padding-top: 80px;

    div.wrapper {
      display: flex;
      flex-direction: row;

      img {
        top: -200;
        left: -100;
        width: 369px;

        align-self: flex-start;
      }

      // Contenu de la fiche
      &>div {;
        padding: 40px 40px 40px 275px;
        margin-left: 125px;
        margin-top: 0;

        // Entête
        div.entete-fiche {
          flex-direction: row;

          // Nom et icone site
          div:first-child {

            justify-content: flex-start;
            padding: 0;

            h2 {
              padding-right: 10px;
            }

            a {
              img {
                width: 40px;

                transition: all 0.2s;
              }
            }

          }

          // Icones de réseaux sociaux
          div:last-child {
            width: 28%;

            margin: 0;
          }

        }

        h4 {
          text-align: left;
          color: $color-accent-light;
        }

        p {
          text-align: left;
        }
      }


    }
  }
}