// STYLE DE BASE SUR LA BALISE BODY


html {
  height: 100%;
}

body{
  min-height: 100%;

  @include font($ff-text, $fz-text-mob, $black, $lh-normal);
  font-weight: 400;
}


/*-------------------------------------------------------*/


// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {
  body {
    font-size: $fz-text;
  }
}
