/// INITIALISATION DES FONTS

@font-face {
  font-family: 'ostrich_sansblack';
  src: url('../fonts/ostrichsans-black-webfont.woff2') format('woff2'),
  url('../fonts/ostrichsans-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'luiss_sansbold';
  src: url('../fonts/luisssans-bold-webfont.woff2') format('woff2'),
  url('../fonts/luisssans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'luiss_sansregular';
  src: url('../fonts/luisssans-regular-webfont.woff2') format('woff2'),
  url('../fonts/luisssans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

