// LES STYLES DE BASE DES BALISES <h>

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
  font-weight: 400;
}

h1 {
  @include font($ff-title, $fz-h1-mob, #CCF9FF, $lh-normal);
}

h2 {
  @include font($ff-subtitle-bold, $fz-h2-mob, $color-principal-dark, 1);
}

h3 {
  @include font($ff-subtitle-bold, $fz-h3-mob, $color-neutral-3, $lh-normal);
}

h4 {
  @include font($ff-text, $fz-h4-mob, $black, $lh-normal);
  font-weight: 700;
}

h1#h1-prog {
  padding: 75px 0;
  color: $color-accent-base;
}

/*-------------------------------------------------------*/

// Breakpoint quand on passe de mobile à desktop
@media screen and (min-width: $breakpoint-sm) {

  h1 {
    font-size: $fz-h1;
  }
  h2 {
    font-size: $fz-h2;
  }
  h3 {
    font-size: $fz-h3;
  }
  h4 {
    font-size: $fz-h4;
  }
}