// STYLE POUR LES BALISES INPUT

input[type="text"], input[type="email"] {
  @include font($ff-subtitle-normal, rem(19), $color-principal-light, $lh-normal);

  width: 240px;

  padding: 10px;
  border-radius: 7px;
  border: none;

  transition: all 0.5s;

  outline: 0;

  &::placeholder {
    color: inherit;
  }

  &:hover, &:focus {
    background-color: $color-principal-dark;
    color: $white;
    transition: all 0.5s;
  }
}