//F ICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEURS

// Couleur principale
$color-principal-base: #2D7A84;
$color-principal-light: #32B7CA;
$color-principal-dark: #0D4B54;

// Couleur d'accent
$color-accent-base: #E34562;
$color-accent-light: #FF7577;
$color-accent-dark: #BC3C54;

// Couleurs complémentaires
$color-comp-1-base: #783A8A;
$color-comp-1-light: #A25DB7;
$color-comp-1-dark: #421E4D;

$color-comp-2-base: #DDA294;
$color-comp-2-light: #F8CDC3;
$color-comp-2-dark: #AF4D36;

// Couleurs neutres
$color-neutral-1: #47676B;
$color-neutral-2: #896B64;
$color-neutral-3: #403743;
$color-neutral-4: #BD848E;
$color-neutral-5: #8DA4A7;

// Couleurs de base
$white: #fff;
$black: #000;

// Couleurs des liens
$color-link: $white;
$color-link-visited: $color-link;
$color-link-hover: $color-accent-light;
$color-link-active: $color-accent-light;
$color-link-focus: $color-link;

