//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE

// Famille des polices
$ff-title: 'ostrich_sansblack', Impact, sans-serif;
$ff-subtitle-normal: 'luiss_sansregular', Helvetica, sans-serif;
$ff-subtitle-bold: 'luiss_sansbold', Helvetica, sans-serif;
$ff-text: 'Heebo', Calibri, sans-serif;

// Grosseur des textes
$fz-h1: rem(81);
$fz-h2: rem(42);
$fz-h3: rem(32);
$fz-h4: rem(23);
$fz-text: rem(20);

$fz-h1-mob: rem(64);
$fz-h2-mob: rem(28);
$fz-h3-mob: rem(24);
$fz-h4-mob: rem(19);
$fz-text-mob: rem(16);

// Line-height
$lh-normal: 1.5;

// Fonts weight
$fw-regular: 400;
$fw-bold: 700;
